<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Livros de Java, SOA, Android, iPhone, Ruby on Rails e muito mais - Casa do Código</title>

    <link rel="icon" href="//cdn.shopify.com/s/files/1/0155/7645/t/177/assets/favicon.ico?11981592617154272979" type="image/ico" />
    <link href="https://plus.google.com/108540024862647200608" rel="publisher" />

    <!-- CSS com contexto da aplicação -->
    <link th:href="@{/css/cssbase-min.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/fontello-ie7.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/fontello-embedded.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/fontello.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/layout-colors.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/responsive-style.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/guia-do-programador-style.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/produtos.css}" rel="stylesheet" type="text/css" media="all" />

    <link rel="canonical" href="http://www.casadocodigo.com.br/" />
</head>
<body>

<header id="layout-header">
    <div class="clearfix container">
        <a th:href="@{/}" id="logo"> </a>
        <div id="header-content">
            <nav id="main-nav">
                <ul class="clearfix">
                    <li>
                        <a th:href="@{/carrinho}" rel="nofollow">
                            Carrinho (<span th:text="${carrinhoCompras.quantidade}"></span>)
                        </a>
                    </li>
                    <li><a th:href="@{/pages/sobre-a-casa-do-codigo}" rel="nofollow">Sobre Nós</a></li>
                    <li><a th:href="@{/pages/perguntas-frequentes}" rel="nofollow">Perguntas Frequentes</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<section class="container middle">
    <h2 id="cart-title">Seu carrinho de compras</h2>
    <table id="cart-table">
        <thead>
            <tr>
                <th class="cart-img-col"></th>
                <th width="65%">Item</th>
                <th width="10%">Preço</th>
                <th width="10%">Quantidade</th>
                <th width="10%">Total</th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${carrinhoCompras.itens}">
                <td class="cart-img-col">
                    <img src="http://cdn.shopify.com/s/files/1/0155/7645/products/css-eficiente-featured_large.png?v=1435245145"
                         width="71px" height="100px" />
                </td>
                <td class="item-title" th:text="${item.produto.titulo}"></td>
                <td class="numeric-cell" th:text="${item.preco}"></td>
                <td class="quantity-input-cell">
                    <input type="number" min="0" id="quantidade" name="quantidade"
                           th:value="${carrinhoCompras.getQuantidade(item)}" />
                </td>
                <td class="numeric-cell" th:text="${carrinhoCompras.getTotal(item)}"></td>
                <td class="remove-item">
                    <form th:action="@{/carrinho/remover(produtoId=${item.produto.id}, tipoPreco=${item.tipoPreco})}" method="post">
                        <input type="image" th:src="@{/imagens/excluir.png}" alt="Excluir" title="Excluir" />
                    </form>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <form th:action="@{/pedido/finalizar}" method="post">
                        <input type="submit" class="checkout" name="checkout" value="Finalizar compra" />
                    </form>
                </td>
                <td class="numeric-cell" th:text="${carrinhoCompras.total}"></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <h2>
        <a th:href="@{/produtos}">Veja todos os livros que publicamos!</a>
    </h2>
</section>

<footer id="layout-footer">
    <!-- conteúdo do footer mantido -->
</footer>

</body>
</html>